<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/main.css" />
      <title>Aulas particulares</title>
   </head>
   <body>
      <header>
         <ul>
            <li><a href="/">Teachers</a></li>
            <li><a href="/main/cadastro">Students</a></li>
         </ul>
      </header>

      <main>
         <div class="card">
            <section
               class="avatar"
               style="
                  background: url({{professor.avatar_url}})
                     no-repeat center center / cover;
               "
            ></section>
            <section class="details">
               <ul>
                  <li>
                     <h1>Professor</h1>
                     <p>{{professor.nome}}</p>
                  </li>
                  <li>
                     <h3>Idade</h3>
                     <p>{{professor.idade}}</p>
                  </li>
                  <li>
                     <h3>Matéria</h3>
                     <p>{{professor.materia}}</p>
                  </li>
                  <li>
                     <h3>Modalidade</h3>
                     <p>{{professor.modalidade}}</p>
                  </li>
                  <li>
                     <h3>Grau Escolar</h3>
                     <p>{{professor.escolaridade}}</p>
                  </li>
                  <li>
                     <h3>Desde:</h3>
                     <p>{{professor.criado_em}}</p>
                  </li>
               </ul>
            </section>
         </div>
      </main>
   </body>
</html>
