<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url"
      placeholder="https://"
      value="{{ teacher.avatar_url }}">
  </div>
</div>

<div class="item">
  <div>Professor</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome do Professor"
      value="{{ teacher.name }}">
  </div>
</div>


<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth_date" 
      value="{{ teacher.birth_date }}">
  </div>
</div>

<div class="item">
  <div>Graduação</div>
  <div>
     <select name="education_level">
         <option type="text" value="Superior" {% if teacher.education_level=="Superior" %} selected {% endif %}>
            Superior
         </option>

         <option type="text" value="Pós-graduação" {% if teacher.education_level=="Pós-graduação" %} selected {% endif %}>
            Pós-graduação
         </option>

         <option type="text" value="Mestrado" {% if teacher.education_level=="Mestrado" %} selected {% endif %}>
            Mestrado
         </option>

         <option type="text" value="Especialista" {% if teacher.education_level=="Especialista" %} selected {% endif %}>
            Especialista
         </option>

         <option type="text" value="Doutorado" {% if teacher.education_level=="Doutorado" %} selected {% endif %}>
            Doutorado
         </option>
      </select>
  </div>
</div>

<div class="item">
  <div>Area de Atuação</div>
  <div>
    <input 
    type="text" 
    name="class_type" 
    placeholder="Separe as matérias por vírgula"
    value="{{ teacher.class_type }}">
  </div>
</div>

<div class="item">
  <div>Modalidade</div>
  <div>
     <select name="subjects_taught">
         <option type="text" value="Presencial" {% if teacher.subjects_taught=="Presencial" %} selected {% endif %}>
            Presencial
         </option>

         <option type="text" value="Semi-Presencial" {% if teacher.subjects_taught=="Semi-Presencial" %} selected {% endif %}>
            Semi-Presencial
         </option>

         <option type="text" value="Ead" {% if teacher.subjects_taught=="EaD" %} selected {% endif %}>
            EaD
         </option>
      </select>
  </div>
</div>

<button type="submit">Salvar</button>