{% extends "layout.njk" %}

{% block content %}

  <div class="card">
    <section 
      class="avatar"
      style="background:url({{teacher.avatar_url}}) no-repeat center center / cover" 
    >

    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>{{teacher.name}}</div>        
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{teacher.birth}}</div>
      </div>

      <div class="item">
        <div>Graduação</div>
        <div>{{teacher.education }}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for subjects in teacher.subjects_taught %}
          
            <span>{{ subjects }}</span>
           
          {% endfor %}          
        </div>
      </div>

      <div class="item">
        <div>Desde de</div>
        <div>{{teacher.created_at}}</div>
      </div>

      <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>

    </section>
  </div>
  
{% endblock content %}
