<div class="item">
  <div>Avatar URL</div>

  <div>
    <input 
      type="url" 
      name="avatar_url" id="" 
      placeholder="https://"
      value="{{ teacher.avatar_url }}">
  </div>

</div>

<div class="item">
  <div>Professor</div>

  <div>
    <input 
      type="text" 
      name="nome" id="" 
      placeholder="Nome do Professor"
      value="{{ teacher.nome }}">
  </div>

</div>


<div class="item">
  <div>Data de Nascimento</div>

  <div>
    <input 
      type="date" 
      name="idade" 
      value="{{ teacher.idade }}">
  </div>

</div>

<div class="item">
  <div>Graduação</div>

  <div>
     <select name="graduacao">
         <option value="Superior" {% if teacher.graduacao=="Superior" %} selected {% endif %}>
            Superior
         </option>

         <option value="Pós-graduação" {% if teacher.graduacao=="Pós-graduação" %} selected {% endif %}>
            Pós-graduação
         </option>

         <option value="Mestrado" {% if teacher.graduacao=="Mestrado" %} selected {% endif %}>
            Mestrado
         </option>

         <option value="Especialista" {% if teacher.graduacao=="Especialista" %} selected {% endif %}>
            Especialista
         </option>

         <option value="Doutorado" {% if teacher.graduacao=="Doutorado" %} selected {% endif %}>
            Doutorado
         </option>
      </select>
  </div>

</div>

<div class="item">
  <div>Area de Atuação</div>

  <div>
    <input 
    type="text" 
    name="materia" 
    placeholder="Separe o Serviço por virgula"
    value="{{ teacher.materia }}">
  </div>
</div>

<button type="submit">Salvar</button>