{% extends "layout.njk" %}

{% block content %}

  <div class="card">
    <section 
      class="avatar"
      style="background:url({{teacher.avatar_url}}) no-repeat center center / cover" 
    >

    </section>

    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Instrutor</div>
        <div>{{teacher.nome}}</div>        
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{teacher.idade}}</div>
      </div>

      <div class="item">
        <div>Graduação</div>
        <div>{{teacher.graduacao }}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>

          {% for materias in teacher.materia %}
          
            <span>{{ materias }}</span>
           
          {% endfor %}
          
        </div>
      </div>

      <div class="item">

        <div>Desde de</div>
        <div>{{teacher.criado_em}}</div>

      </div>

      <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>

    </section>
  </div>
  
{% endblock content %}
